Dockerfile
venv*/
dist/
doc/
./**/.*
./**/__pycache__/
./**/*.gif
examples/video_example/
examples/output/
./**/*.log
./**/*.pdf
./**/*.*~
./**/*~
local-build.sh
./**/.ini
./**/.yml
./**/.toml
cicm2021paper/
LICENSE
tests/