.coverage
dist/
test-results/
venv*/
__pycache__/
.*~
*~
doc/_build/
.idea/
*.bbl
*.blg
*.log
*.pdf
*.out
*.aux
*.cicmauthinsts
.ipynb_checkpoints/
flycheck_*.*
.dir-locals.el
examples/output/
coverage.xml
*.nav
*.snm
*.toc
_minted-*/
\#*.*\#
*.pickle
*.md5
