[tool.poetry]
name = "isabelle-client"
version = "0.4.6"
description = "A client to Isabelle proof assistant server"
authors = ["Boris Shminke <boris@shminke.com>"]
license = "Apache-2.0"
repository = "https://github.com/inpefess/isabelle-client"
readme = "README.rst"
classifiers=[
	"Programming Language :: Python :: 3.12",
	"Programming Language :: Python :: 3.11",
	"Programming Language :: Python :: 3.10",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.8",
	"License :: OSI Approved :: Apache Software License",
	"Operating System :: OS Independent",
	"Intended Audience :: Science/Research",
	"Development Status :: 4 - Beta",
	"Environment :: Console",
	"Natural Language :: English",
	"Topic :: Scientific/Engineering :: Artificial Intelligence",
	"Typing :: Typed"
]
keywords = ["TCP client", "Isabelle proof assistant", "interactive theorem prover"]
include = ["isabelle_client/py.typed"]

[tool.poetry.dependencies]
python = ">= 3.8.1, < 3.13"
importlib-resources = {version = "*", markers = "python_version < \"3.9\""}

[tool.poetry.group.dev.dependencies]
pylint = "*"
mypy = "*"
pytest-cov = "*"
pre-commit = "*"
black = "*"
flake8 = "*"
sphinx-autodoc-typehints = "*"
types-dataclasses = "*"
pydocstyle = "*"
tox = "*"
pyenchant = "*"
tbump = "*"
toml = "*"
furo = "*"
jedi = "*"
pyroma = "*"
pyupgrade = "*"
bandit = "*"
sphinx-gallery = "*"

[tool.black]
line-length=79

[tool.isort]
profile = "black"
src_paths = ["isabelle_client"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = """--doctest-modules --cov isabelle_client --cov-report xml
    --cov-report term-missing --cov-fail-under=100
    --junit-xml test-results/isabelle-client.xml"""
testpaths = ["isabelle_client"]

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "from importlib.resources import files"
]

[tool.pylint.MASTER]
load-plugins = [
    "pylint.extensions.consider_ternary_expression",
    "pylint.extensions.docparams",
    "pylint.extensions.mccabe",
    "pylint.extensions.set_membership",
]

[tool.pylint.parameter_documentation]
accept-no-param-doc = false
accept-no-raise-doc = false
accept-no-return-doc = false
accept-no-yields-doc = false
default-docstring-type = "sphinx"

[tool.pylint.format]
max-line-length = 79

[tool.pylint.design]
max-statements = 10

[tool.pylint.typecheck]
generated-members = ["asyncio", "os"]

[tool.pylint.spelling]
spelling-dict = "en_GB"
spelling-private-dict-file = "spelling.dict"

[tool.mypy]
show_error_codes = true
incremental = true
disable_error_code = "no-redef"

[[tool.mypy.overrides]]
module = ["importlib_resources", "py"]
ignore_missing_imports = true

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
envlist = py38,py39,py310,py311,py312

[testenv]
deps =
    pytest-cov
    flake8
    pydocstyle
    pylint
    mypy
    toml
    pyenchant
    pyroma
    bandit
commands =
    pydocstyle isabelle_client
    flake8 isabelle_client
    pylint isabelle_client
    mypy isabelle_client
    pyroma -n 10 .
    bandit -r isabelle_client
    pytest
"""

[tool.tbump]
github_url = "https://github.com/inpfess/isabelle-client/"

[tool.tbump.version]
current = "0.4.6"
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  '''

[tool.tbump.git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[tool.tbump.file]]
src = "isabelle_client/__init__.py"

[[tool.tbump.file]]
src = "pyproject.toml"

[[tool.tbump.file]]
src = "doc/conf.py"
